body {
    background-color: white;
    display: flex;
    
    min-height: 100vh;
}

.navbar {
    background-color: #59dbef;
    width: 98vw;
    border-radius: 8px;
}

.gridNotas {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 1vw;
}

.nota {
    background: #dddd;
    padding: 10px;
    border-radius: 10px;
}