body {
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
  display: flex;
  min-height: 100vh;
}

.navbar {
  background-color: #59dbef;
  width: 96vw;
  border-radius: 8px;
  margin: 0px;
  padding: 20px;
}

.navbar h1 {
  font-weight: bold;
}

.navbar h2 {
  font-weight: 400;
}

.BtnAgregarNotas {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
  z-index: 1001;
}

.btnAddNotes:hover #addNotes {
  background-color: #31292949;
  border-radius: 10px;
}

.gridNotas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1vw;
  row-gap: 1vw;
  max-width: 100%;
}

.nota {
  background: #dddd;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 95%;
  max-height: 90%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: static;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nota:hover {
  transform: translate(-2px, -2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nota:hover .btnNotas {
  display: flex;
}

.nota a {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.btnNotas {
  position: absolute;
  display: none;
  top: 5px;
  right: 5px;
}

.btnNotas .material-icons:hover {
  background-color: #31292949;
  border-radius: 10px;
}

.material-symbols-outlined:hover {
  background-color: #31292949;
  border-radius: 10px;
}

.divModalNotas {
  max-height: 50%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000be;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  height: 40%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.modal-content h2 {
  margin-top: 0;
}

.divModalNotas {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.modal-content button {
  margin-top: 20px;
  cursor: pointer;
}

.modal-content input,
.modal-content textarea {
  font-family: 'Noto Sans', sans-serif;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: scroll;
}

.modal-content button {
  margin-right: 10px;
  padding: 8px 16px;
}

.ModalBtn {
  display: flex;
  flex-direction: row;
}

.contNotasCont {
  width: 100%;
  max-height: 150px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: none;
  z-index: 1000 ;
}

.contNotasCont > .CardNota {
  cursor: not-allowed;
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
}

.material-symbols-outlined {
  font-family: 'Material Icons';
  font-size: 24px;
}

.modal-confirm-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1100;
}

.modal-confirm {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-confirm-actions {
  margin-top: 20px;
}

.modal-confirm-actions button {
  margin: 0 10px;
}